<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.admin.mapper.UsersMapper">

 <!-- 사용자 리스트 -->
 <select id="usersListData" resultType="com.sist.web.vo.UsersVO" parameterType="hashmap">
  SELECT uno,id,name,phone,email,status,profile_img,created_at,updated_at,enabled
  FROM users
  <where>
   <if test="name!=null and name!=''">
    AND uno LIKE '%'||#{name}||'%'
    OR  id LIKE '%'||#{name}||'%'
    OR  name LIKE '%'||#{name}||'%'
    OR  phone LIKE '%'||#{name}||'%'
    OR  email LIKE '%'||#{name}||'%'
   </if>
  </where>
  ORDER BY uno ASC
  OFFSET #{start} ROWS FETCH NEXT 6 ROWS ONLY
 </select>
 
 <!-- 사용자 총 페이지 -->
 <select id="usersTotalPage" resultType="int" parameterType="hashmap">
  SELECT CEIL(COUNT(*)/6.0)
  FROM users
  <where>
   <if test="name!=null and name!=''">
    AND name LIKE '%'||#{name}||'%'
   </if>
  </where>
 </select>
 
</mapper>