<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.place.mapper.PlaceMapper">

<!-- 문화 리스트 -->
 <select id="cultureListData" resultType="com.sist.web.vo.PlaceVO" parameterType="hashmap">
  SELECT pno,name,category,phone,addr
  FROM place
  WHERE category=#{category}
  <if test="name!=null and name !=''">
  AND name LIKE '%'||#{name}||'%'
  </if>
  ORDER BY pno ASC
  OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
 </select>
 
 <!-- 문화 총 페이지 -->
 <select id="cultureTotalPage" resultType="int" parameterType="hashmap">
  SELECT CEIL(COUNT(*)/10.0)
  FROM place
  WHERE category=#{category}
  <if test="name!=null and name !=''">
  AND name LIKE '%'||#{name}||'%'
  </if>
 </select>
 
 <!-- 식당 리스트 -->
 <select id="foodListData" resultType="com.sist.web.vo.PlaceVO" parameterType="hashmap">
  SELECT pno,name,category,phone,addr
  FROM place
  WHERE category=#{category}
  <if test="name!=null and name!=''">
   AND name LIKE '%'||#{name}||'%'
  </if>
  ORDER BY pno ASC
  OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
 </select>
 
 <!-- 식당 총 페이지 -->
 <select id="foodTotalPage" resultType="int" parameterType="hashmap">
  SELECT CEIL(COUNT(*)/10.0)
  FROM place
  WHERE category=#{category}
  <if test="name!=null and name!=''">
   AND name LIKE '%'||#{name}||'%'
  </if>
 </select>
 
 <!-- 코스 리스트 -->
 <select id="courseListData" resultType="com.sist.web.vo.CourseVO" parameterType="hashmap">
  SELECT cno,uno,title,is_public,pnos,hit,created_at,content
  FROM course
  <where>
  <if test="title!=null and title!=''">
   AND title LIKE '%'||#{title}||'%'
  </if>
  </where>
  ORDER BY created_at DESC
  OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
 </select>
 
 <!-- 코스 총 페이지 -->
 <select id="courseTotalPage" resultType="int" parameterType="hashmap">
  SELECT CEIL(COUNT(*)/10.0) 
  FROM course
  <where>
  <if test="title!=null and title!=''">
   AND title LIKE '%'||#{title}||'%'
  </if>
  </where>
 </select>
 
 <!-- 코스 상태 변경 -->
 <update id="courseStatusUpdate" parameterType="hashmap">
  UPDATE course
  SET 
  is_public = #{is_public}
  WHERE cno = #{cno}
 </update>
 
 <!-- 식당 장소 생성 -->
 <insert id="restaurantCreate" parameterType="com.sist.web.vo.PlaceVO">
   <selectKey keyProperty="pno" resultType="int" order="BEFORE">
     SELECT p_pno_seq.nextval FROM dual
   </selectKey>
   INSERT INTO place(pno, name, category, type, company, phone, parking, addr, 
   					seat, menu, intro, hours, thumbnail, imgs, created_at, hit)
   VALUES(#{pno}, #{name}, '식당', #{type}, #{company}, #{phone}, #{parking}, #{addr}, 
   			#{seat}, #{menu}, #{intro}, #{hours}, #{thumbnail}, #{imgs}, SYSDATE, 0)
 </insert>
 
 <!-- 문화/체험 장소 생성 -->
 <insert id="cultureCreate" parameterType="com.sist.web.vo.PlaceVO">
   <selectKey keyProperty="pno" resultType="int" order="BEFORE">
     SELECT p_pno_seq.nextval FROM dual
   </selectKey>
   INSERT INTO place(pno, name, category, type, company, runtime, rating, 
   				phone, parking, addr, hours, thumbnail, imgs, created_at, hit)
   VALUES(#{pno}, #{name}, '문화', #{type}, #{company}, #{runtime}, #{rating}, 
  			#{phone}, #{parking}, #{addr}, #{hours}, #{thumbnail}, #{imgs}, SYSDATE, 0)
 </insert>
 
 <!-- 문화/체험 옵션 생성 -->
 <insert id="cultureOptionCreate" parameterType="com.sist.web.vo.PlaceOptionsVO">
   INSERT INTO options(opno, pno, op_date, op_time, op_type, op_price, op_amount, op_booked)
   VALUES(op_opno_seq.nextval, #{pno}, #{op_date}, #{op_time}, #{op_type}, #{op_price}, TRUNC(DBMS_RANDOM.VALUE(0, 31)), 0)
 </insert>
 
 <!-- 관광명소 장소 생성 -->
 <insert id="attractionCreate" parameterType="com.sist.web.vo.PlaceVO">
   <selectKey keyProperty="pno" resultType="int" order="BEFORE">
     SELECT p_pno_seq.nextval FROM dual
   </selectKey>
   INSERT INTO place(pno, name, category, type, company, intro, ticket, 
   					phone, parking, addr, hours, thumbnail, imgs, created_at, hit)
   VALUES(#{pno}, #{name}, '문화', #{type}, #{company}, #{intro}, #{ticket}, 
   			#{phone}, #{parking}, #{addr}, #{hours}, #{thumbnail}, #{imgs}, SYSDATE, 0)
 </insert>
</mapper>