<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.place.mapper.AttractionMapper">
  <select id="attractionListData" resultType="com.sist.web.vo.PlaceVO" parameterType="hashmap">
    SELECT p.pno, p.name, p.addr, p.category, p.type, p.thumbnail, p.hit, p.created_at,
    		COUNT(DISTINCT f.fno) AS f_count, COUNT(DISTINCT l.l_id) AS l_count, COUNT(DISTINCT r.rno) AS r_count
    FROM place p
    LEFT JOIN favorite f ON p.pno = f.pno
    LEFT JOIN userlike l ON p.pno = l.pno
    LEFT JOIN review r ON p.pno = r.pno
    WHERE type IN('명소', '자연관광', '엔터테인먼트')
    <if test="keyword != null and keyword != ''">
      AND ${column} LIKE '%'||#{keyword}||'%'
    </if>
    GROUP BY p.pno, p.name, p.addr, p.category, p.type, p.thumbnail, p.hit, p.created_at
    ORDER BY ${selected} DESC
    OFFSET #{start} ROWS FETCH NEXT 16 ROWS ONLY
  </select>
  
  <select id="attractionTotalPage" resultType="int" parameterType="hashmap">
    SELECT CEIL(COUNT(*)/16.0) FROM place
    WHERE type IN('명소', '자연관광', '엔터테인먼트')
    <if test="keyword != null and keyword != ''">
      AND ${column} LIKE '%'||#{keyword}||'%'
    </if>
  </select>
  
  <update id="attractionHitIncrement" parameterType="int">
    UPDATE place SET
    hit = hit+1
    WHERE pno = #{pno}
  </update>
  
  <select id="attractionDetailData" resultType="com.sist.web.vo.PlaceVO" parameterType="int">
    SELECT p.pno, p.thumbnail, p.type, p.name, p.addr, p.parking, p.hours, p.ticket, p.imgs,
    		p.phone, p.hit, p.intro, TO_CHAR(p.created_at, 'YYYY-MM-DD') AS createday
    FROM place p
    WHERE p.type IN('명소', '자연관광', '엔터테인먼트')
    AND p.pno = #{pno}
  </select>
</mapper>