<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sist.web.course.mapper.CourseMapper">
 
 	<select id="placeListDataInCourse" resultType="PlaceVO" parameterType="hashmap">
 		SELECT pno, name, addr, category, thumbnail 
 		FROM place
 		
 		<choose>
		    <when test="type != null and type != ''">
		      WHERE type LIKE '%'||#{type}||'%'
		    </when>
		
		    <when test="keyword != null and keyword != ''">
		      WHERE name LIKE '%'||#{keyword}||'%'
		    </when>
		</choose>
 		
 		ORDER BY pno ASC
 	</select>
 	
 	<insert id="courseInsert" parameterType="CourseVO">
 		INSERT INTO course
 		(cno, uno, pnos, title, content, created_at, is_public) 
 		VALUES
 		(course_cno_seq.nextval, 1, #{pnos}, #{title}, #{content}, SYSDATE, #{is_public})
 	</insert>
</mapper>