<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sist.web.course.mapper.CourseMapper">
 
 	<resultMap type="com.sist.web.vo.CourseVO" id="courseMap">
 		<result property="uvo.name" column="name"/>
 		<result property="pvo.thumbnail" column="thumbnail"/>
 	</resultMap>
 
 	<!-- 코스 생성 장소 검색 -->
 	<select id="placeListDataInCourse" resultType="PlaceVO" parameterType="hashmap">
 		SELECT pno, name, addr, category, thumbnail 
 		FROM place
 		
 		<choose>
		    <when test="type != null and type != ''">
		      WHERE type LIKE '%'||#{type}||'%'
		    </when>
		
		    <when test="keyword != null and keyword != ''">
		      WHERE name LIKE '%'||#{keyword}||'%'
		    </when>
		</choose>
 		
 		ORDER BY pno ASC
 	</select>
 	
 	<!-- 코스 생성 -->
 	<insert id="courseInsert" parameterType="CourseVO">
 		INSERT INTO course
 		(cno, uno, pnos, title, content, created_at, is_public) 
 		VALUES
 		(course_cno_seq.nextval, #{uno}, #{pnos}, #{title}, #{content}, SYSDATE, #{is_public})
 	</insert>
 	
 	<!-- 코스 수정 -->
 	<update id="courseUpdate" parameterType="CourseVO">
 		UPDATE course SET
 			title = #{title},
 			content = #{content},
 			pnos = #{pnos},
 			is_public = #{is_public},
 			updated_at = SYSDATE
 		WHERE cno = #{cno}
 	</update>
 	
 	<!-- 코스 게시판 리스트 -->
 	<select id="courseListData" resultMap="courseMap" parameterType="hashmap">                                                                                                                                                  
 		SELECT c.cno, c.title, c.content, c.uno, u.name, c.hit,
 			   TO_CHAR(c.created_at, 'yyyy.mm.dd') AS dbday,
 				(SELECT thumbnail
 				 FROM place 
 				 WHERE pno = TO_NUMBER(SUBSTR(c.pnos, 1, INSTR(c.pnos, ',') - 1))
 				 ) AS thumbnail,
 				 (SELECT COUNT(*) FROM reply r 
 				 WHERE c.cno = r.cno) AS replycount 
 		FROM course c
 		JOIN  users u
 		ON c.uno = u.uno
 		WHERE is_public = 'Y'
 		<if test="keyword != null and keyword != ''">
 			AND (title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%')
 		</if>
 		<if test="sort == '최신순'">
 			ORDER BY c.created_at DESC
 		</if>
 		<if test="sort == '인기순'">
 			ORDER BY hit DESC
 		</if>
 		
 		OFFSET #{start} ROWS FETCH NEXT 5 ROWS ONLY
 	</select>
 	
 	<!-- 코스 게시판 전체 페이지 -->
 	<select id="courseListTotalPage" resultType="int" parameterType="string">                                                                                                                                                   
 		SELECT CEIL(COUNT(*)/5.0)
 		FROM course
 		WHERE is_public = 'Y'
 		<if test="keyword != null and keyword != ''">
 			AND (title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%')
 		</if>
 	</select>
 	
 	<!-- 코스 상세 데이터 가져오기 -->
 	<select id="courseDetailData" resultMap="courseMap" parameterType="int">
 		SELECT c.cno, c.title, c.content, c.uno, u.name, c.hit, c.pnos,
 			   TO_CHAR(c.created_at, 'yyyy.mm.dd') AS dbday, is_public,
 			   (SELECT COUNT(*) FROM reply r 
 				WHERE c.cno = r.cno) AS replycount
 		FROM course c
 		JOIN users u
 		ON c.uno = u.uno
 		WHERE c.cno = #{cno}
 	</select>
 	
 	<!-- 수정 시 코스 상세 데이터 가져오기 -->
 	<select id="courseUpdateData" resultMap="courseMap" parameterType="int">
 		SELECT c.cno, c.title, c.content, c.uno, u.name, c.hit, c.pnos,
 			   TO_CHAR(c.created_at, 'yyyy.mm.dd') AS dbday, is_public,
 			   (SELECT COUNT(*) FROM reply r 
 				 WHERE c.cno = r.cno) AS replycount
 		FROM course c
 		JOIN users u
 		ON c.uno = u.uno
 		WHERE c.cno = #{cno}
 	</select>
 	
 	<!-- 썸네일용 첫 번째 장소 -->
 	<select id="courseGetFirstPlace" resultType="int" parameterType="int">
 	 	SELECT TO_NUMBER(SUBSTR(pnos, 1, INSTR(pnos, ',') - 1)) AS pno
 	 	FROM course
 	 	WHERE cno = #{cno}
 	</select>
 	
 	<!-- 마이페이지 내 코스 목록 -->
 	<select id="myCourseListData" resultMap="courseMap" parameterType="hashmap">                                                                                                                                                  
 		SELECT c.cno, c.title, c.content, c.uno, c.hit, is_public,
 			    TO_CHAR(c.created_at, 'yyyy.mm.dd') AS dbday,
 				(SELECT thumbnail
 				 FROM place
 				 WHERE pno = TO_NUMBER(SUBSTR(c.pnos, 1, INSTR(c.pnos, ',') - 1))
 				 ) AS thumbnail,
 				 (SELECT COUNT(*) FROM reply r 
 				 WHERE c.cno = r.cno) AS replycount 
 		FROM course c
 		WHERE uno = #{uno}	
 		ORDER BY created_at DESC	
 		OFFSET #{start} ROWS FETCH NEXT 3 ROWS ONLY
 	</select>
 	
 	<!-- 마이페이지 내 코스 전체 페이지 -->
 	<select id="myCourseListTotalPage" resultType="int" parameterType="int">                                                                                                                                                   
 		SELECT CEIL(COUNT(*)/3.0)
 		FROM course
 		WHERE uno = #{uno}	
 	</select>
</mapper>