<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sist.web.course.mapper.CourseMapper">
 
 	<!-- 코스 생성 장소 검색 -->
 	<select id="placeListDataInCourse" resultType="com.sist.web.vo.PlaceVO" parameterType="hashmap">
 		SELECT pno, name, addr, category, thumbnail 
 		FROM place
 		
 		<choose>
		    <when test="type != null and type != ''">
		      WHERE type LIKE '%'||#{type}||'%'
		    </when>
		
		    <when test="keyword != null and keyword != ''">
		      WHERE name LIKE '%'||#{keyword}||'%'
		    </when>
		</choose>
 		
 		ORDER BY pno ASC
 	</select>
 	
 	<!-- 코스 생성 -->
 	<insert id="courseInsert" parameterType="com.sist.web.vo.CourseVO">
 		INSERT INTO course
 		(cno, uno, pnos, title, content, created_at, is_public) 
 		VALUES
 		(course_cno_seq.nextval, 1, #{pnos}, #{title}, #{content}, SYSDATE, #{is_public})
 	</insert>
 	
 	<resultMap type="com.sist.web.vo.CourseVO" id="courseMap">
 		<result property="uvo.name" column="name"/>
 		<result property="pvo.thumbnail" column="thumbnail"/>
 	</resultMap>
 	
 	<!-- 코스 게시판 리스트 -->
 	<select id="courseListData" resultMap="courseMap" parameterType="hashmap">                                                                                                                                                  
 		SELECT c.cno, c.title, c.content, c.uno, u.name,
 			   TO_CHAR(c.created_at, 'yyyy.mm.dd') AS dbday,
 				(SELECT thumbnail
 				 FROM place
 				 WHERE pno = TO_NUMBER(SUBSTR(c.pnos, 1, INSTR(c.pnos, ',') - 1))
 				 ) AS thumbnail
 		FROM course c
 		JOIN  users u
 		ON c.uno = u.uno
 		WHERE is_public = 'Y'
 		<if test="keyword != null and keyword != ''">
 			AND (title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%')
 		</if>
 		<if test="sort == '최신순'">
 			ORDER BY c.created_at DESC
 		</if>
 		<if test="sort == '인기순'">
 			ORDER BY hit DESC
 		</if>
 		
 		OFFSET #{start} ROWS FETCH NEXT 5 ROWS ONLY
 	</select>
 	
 	<select id="courseListTotalPage" resultType="int" parameterType="string">                                                                                                                                                   
 		SELECT CEIL(COUNT(*)/5.0)
 		FROM course
 		WHERE is_public = 'Y'
 		<if test="keyword != null and keyword != ''">
 			AND (title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%')
 		</if>
 	</select>
 	
</mapper>