<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.favorite.mapper.FavoriteMapper">

	<resultMap type="com.sist.web.vo.FavoriteVO" id="favoriteListMap">
		<id column="fno" property="fno"/>
		<result column="uno" property="uno"/>
		
		<association property="pvo" javaType="com.sist.web.vo.PlaceVO">
			<id column="pno" property="pno"/>
			<result column="name" property="name"/>
			<result column="thumbnail" property="thumbnail"/>
			<result column="category" property="category"/>
			<result column="type" property="type"/>
		</association>
	</resultMap>
	
	<select id="favoriteListData" resultMap="favoriteListMap" parameterType="hashmap">
		SELECT f.fno, p.name, p.thumbnail, p.pno, p.category, p.type
		FROM favorite f
		LEFT JOIN place p
			ON p.pno = f.pno
		<!-- WHERE f.uno = ${uno} -->
		<where>
			f.uno = 1
			
			<choose>
				<when test="category == 'restaurant'">
					AND p.category = '식당'
				</when>
				<when test="category == 'culture'">
					AND p.type IN('연극/뮤지컬', '전시', '액티비티')
				</when>
				<when test="category == 'attraction'">
					AND p.type IN('명소', '자연관광', '엔터테인먼트')
				</when>
			</choose>
			
		</where>
		
		ORDER BY f.fno DESC
		OFFSET #{start} ROWS FETCH NEXT 8 ROWS ONLY
	</select>
	
	<select id="favoriteTotalPage" resultType="int" parameterType="hashmap">
		SELECT CEIL(COUNT(*)/8.0) 
		FROM favorite f
		LEFT JOIN place p
			ON p.pno = f.pno
		<!-- WHERE f.uno = ${uno} -->
		<where>
			f.uno = 1
			
			<choose>
				<when test="category == 'restaurant'">
					AND p.category = '식당'
				</when>
				<when test="category == 'culture'">
					AND p.type IN('연극/뮤지컬', '전시', '액티비티')
				</when>
				<when test="category == 'attraction'">
					AND p.type IN('명소', '자연관광', '엔터테인먼트')
				</when>
			</choose>
			
		</where>
	</select>

</mapper>