<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.reserve.mapper.ReserveMapper">
  <resultMap type="com.sist.web.vo.ReserveVO" id="reserveMap">
    <result property="pvo.thumbnail" column="thumbnail"/>
    <result property="pvo.name" column="name"/>
    <result property="pvo.company" column="company"/>
    <result property="pvo.addr" column="addr"/>
    <result property="pvo.phone" column="p_phone"/>
    <result property="pvo.pno" column="pno"/>
    <result property="pvo.type" column="type"/>
    <result property="phone" column="rv_phone"/>
    
    <!-- 결제 관련 -->
    <result property="pyvo.totalAmount" column="totalAmount"/>
    <result property="pyvo.method" column="method"/>
    <result property="pyvo.requestedAt" column="requestedAt"/>
  </resultMap>
  
  <select id="myReservedListData" resultMap="reserveMap" parameterType="hashmap">
    SELECT p.pno, p.thumbnail, p.name, rv.rvno, TO_CHAR(rv.rv_price, '999,999,999') AS form_price, TO_CHAR(rv.rv_date, 'YYYY-MM-DD') AS opday, rv.rv_time, 
    		rv.rv_option, TO_CHAR(rv.rv_created_at, 'YYYY-MM-DD HH24:MI:SS') AS createday, rv.rv_exposure, rv.rv_status
    FROM reserve rv
    JOIN place p ON p.pno = rv.pno
    WHERE rv.uno = #{uno}
    AND rv.rv_exposure = 'y'
    ORDER BY rv.rvno DESC
    OFFSET #{start} ROWS FETCH NEXT 3 ROWS ONLY
  </select>
  
  <select id="myReservedTotalPage" resultType="int" parameterType="int">
    SELECT CEIL(COUNT(*)/3.0) FROM reserve rv
    WHERE rv.uno = #{uno}
  </select>
  
  <select id="myReservedDetailData" resultMap="reserveMap" parameterType="int">
    SELECT p.thumbnail, p.name, p.company, p.addr, p.phone AS p_phone, rv.rvno, rv.rv_status, rv.rv_time, TO_CHAR(rv.rv_date, 'YYYY-MM-DD') AS opday, rv.rv_option, 
    		rv.rv_price, TO_CHAR(rv.rv_price, '999,999,999') AS form_price, rv.rv_amount, rv.nickname, rv.phone AS rv_phone, rv.email,
    		pyvo.totalAmount, pyvo.method, TO_CHAR(pyvo.requestedAt, 'YYYY-MM-DD HH24:MI:SS') AS requestedAt
    FROM reserve rv
    JOIN place p ON p.pno = rv.pno
    LEFT OUTER JOIN pay pyvo ON rv.rvno = pyvo.rvno
    WHERE rv.rvno = #{rvno}
  </select>
  
  <update id="myReservedChangeExposure" parameterType="int">
    UPDATE reserve SET
    rv_exposure = 'n'
    WHERE rvno = #{rvno}
  </update>
  
<!--   <select id="reserveResultPage" resultMap="reserveMap" parameterMap="int">
    SELECT p.thumbnail, p.type, p.name, rv.rvno, rv.rv_status, TO_CHAR(rv.rv_date, 'YYYY-MM-DD') AS opday, 
    		rv.rv_option, rv.rv_price, TO_CHAR(rv.rv_price, '999,999,999') AS form_price, rv.rv_amount
    FROM reserve rv
    JOIN place p ON p.pno = rv.pno
    WHERE rv.rvno = #{rvno}
  </select> -->
</mapper>