<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.reserve.mapper.ReserveMapper">
  <resultMap type="com.sist.web.vo.ReserveVO" id="reserveMap">
    <result property="pvo.thumbnail" column="thumbnail"/>
    <result property="pvo.name" column="name"/>
  </resultMap>
  
  <select id="myReservedListData" resultMap="reserveMap" parameterType="hashmap">
    SELECT p.thumbnail, p.name, rv.rv_price, rv.rv_date, rv.rv_time, rv.rv_option1, rv.rv_option2, rv.rv_created_at
    FROM reserve rv
    JOIN place p ON p.pno = rv.pno
    WHERE rv.uno = #{uno}
    ORDER BY rv.rvno DESC
    OFFSET #{start} ROWS FETCH NEXT 3 ROWS ONLY
  </select>
  
  <select id="myReservedTotalPage" resultType="int" parameterType="int">
    SELECT CEIL(COUNT(*)/3.0) FROM reserve rv
    WHERE rv.uno = #{uno}
  </select>
</mapper>