<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.place.mapper.RestaurantMapper">

	
	<select id="restaurantListData" resultType="com.sist.web.vo.PlaceVO" parameterType="hashmap">
		SELECT p.pno, name, addr, type, thumbnail, category, hit
		FROM place p
		LEFT JOIN (
			SELECT pno, COUNT(*) as f_count
			FROM favorite
			GROUP BY pno
		) f ON p.pno = f.pno
		
		LEFT JOIN (
			SELECT pno, COUNT(*) as r_count
			FROM review
			GROUP BY pno
		) r ON p.pno = r.pno
		
		LEFT JOIN (
			SELECT pno, COUNT(*) as l_count
			FROM userlike
			GROUP BY pno
		) l ON p.pno = l.pno
		<where>
			category = '식당'
		
			<choose>
				<when test="radio == 'subject'">
					AND name LIKE '%'||#{keyword}||'%'
				</when>
				<when test="radio == 'address'">
					AND addr LIKE '%'||#{keyword}||'%'
				</when>
			</choose>
		</where>
		
		ORDER BY
		<choose>
			<when test="array == 'favoritetop'">
				 NVL(f.f_count, 0) DESC
			</when>
			<when test="array == 'liketop'">
				NVL(l.l_count, 0) DESC
			</when>
			<when test="array == 'hittop'">
				p.hit DESC
			</when>
			<when test="array == 'reviewtop'">
				NVL(r.r_count, 0) DESC
			</when>
			<when test="array == 'recent'">
				pno DESC
			</when>
			<otherwise>
				pno ASC
			</otherwise>
		</choose>
		
		OFFSET #{start} ROWS FETCH NEXT 16 ROWS ONLY
	</select>
	
	<select id="restaurantTotalPage" resultType="int" parameterType="hashmap">
		SELECT CEIL(COUNT(*)/16.0) 
		FROM place
		<where>
			category = '식당'
		
			<choose>
				<when test="radio == 'subject'">
					AND name LIKE '%'||#{keyword}||'%'
				</when>
				<when test="radio == 'address'">
					AND addr LIKE '%'||#{keyword}||'%'
				</when>
			</choose>
		</where>
	</select>
	
	<select id="restaurantDetailData" resultType="com.sist.web.vo.PlaceVO">
		SELECT p.pno, name, type, category, addr, phone, seat, parking, intro,
			hours, created_at, hit, imgs, menu, NVL(l.l_count,0) as lcount, thumbnail
		FROM place p
		
		LEFT JOIN (
			SELECT pno, COUNT(*) as l_count
			FROM userlike
			GROUP BY pno
		) l ON p.pno = l.pno
		
		WHERE p.pno = #{pno} AND category = '식당'
	</select>
</mapper>