<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.place.mapper.RestaurantMapper">

	<select id="restaurantListData" resultType="com.sist.web.vo.PlaceVO" parameterType="hashmap">
		SELECT pno, name, addr, type, thumbnail, category
		FROM place
		WHERE category = '식당'
		ORDER BY pno DESC
		OFFSET #{start} ROWS FETCH NEXT 16 ROWS ONLY
	</select>
	
	<select id="restaurantTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/8.0) 
		FROM place
		WHERE category = '식당'
	</select>
</mapper>