@charset "UTF-8";
.page-header-attraction {
	margin: 0px auto;
}

.main-container {
	padding-top: 100px;
}

.attraction-detail-block {
	margin-bottom: 40px;
}

.attraction-thumbnail {
	float: left;
	margin: 0px 30px 0px 0px;
	width: 300px;
	height: 280px;
}

.attraction-info ul {
	list-style: none;
	padding: 0;
}

.attraction-info li {
	font-size: 16px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.attraction-info .label {
	display: inline-block;
	width: 60px;
	padding: 4px 0px;
	font-weight: bold;
	color: black;
	flex-shrink: 0;
}

.attraction-info .value {
	margin-left: 12px;
	font-size: 14px;
	flex: 1;
	word-break: keep-all;
}

.stats-section {
	position: absolute;
	left: 66%;
}

.stats-table {
	border: none;
}

.stats-table td {
	border: none !important;
}

.stats-table tbody tr {
	border: none !important;
}

.stats-icon {
	padding-top: 1px;
	font-size: 22px;
	color: black;
}

.btn-list {
	background-color: black;
	color: white;
}

.btn-list:hover {
	background-color: gray;
	color: white;
}

.text-right {
	margin-top: 5px;
}