@charset "UTF-8";
html {
  scrollbar-gutter: stable;
  overflow-y: auto;
}
.mypage-container {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  margin: 40px auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  overflow: hidden;
}
.mypage-row {
	width: 1200px !important;
}

/* 사이드바 */
.mypage-sidebar {
  width: 250px;
  background: linear-gradient(180deg, #ffb6b9, #fae3d9);
  padding: 30px 20px;
  text-align: center;
  color: #333;
}

.profile img {
  margin: 0 auto;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.profile h3 {
  margin: 10px 0 5px;
}

.profile p {
  font-size: 14px;
  color: #555;
}

.reply-profile {
  display:block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.mypage-reply {
	line-height: 1.2;
	flex: 1;
}

.reply-title {
	font-size: 16px;
	font-weight: 600;
	margin-top: -11px;
}

.password-info {
	margin-top: 200px;
	margin-left: 230px;
}

.update-info {
	margin-top: 80px;
	margin-left: 130px;
	margin-bottom: 20px;
	width: auto;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.menu li {
  margin-bottom: 15px;
}

.menu a {
  text-decoration: none;
  color: #333;
  background: #fff;
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s;
}

.menu a:hover, .menu a.active {
  background: #ff9292;
  color: #fff;
}

/* 메인 콘텐츠 */
.mypage-main {
  flex: 1;
  padding: 40px 60px;
}

.mypage-main h2 {
  margin-top: 0;
  font-size: 24px;
  color: #444;
  border-bottom: 2px solid #cec8c1;
  padding-bottom: 8px;
}
.mypage-main h3 {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: -20px;
}
.mypage-sizing {
	width: 1300px;
	margin-left: -80px;
}
.info-card {
  margin-top: 25px;
  border-radius: 15px;
  padding: 20px 30px;
}

.info-btn {
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
  background: black;
  color: #fff;
  border-radius: 11px;
  font-size: 13px;
  font-weight: bold;
  padding: 1px 10px;
}

.info-btn:hover {
  background-color: #1c1f23;
  border-color: #1a1e21;
}

.info-card th, .info-card td {
  text-align: left;
  padding: 12px 8px;
  border-bottom: 1px solid #f1f1f1;
}

.info-card th {
  width: 120px;
  color: #555;
  font-weight: 600;
}

.reply-card {
  margin-top: 30px;
  border: 2px solid #cec8c1;
  padding: 20px 30px;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  padding: 1px 1px;
  border: none !important;
}

.my-course-item {
	display: flex;
	align-items: center;
	gap: 20px;
}

/* 왼쪽 이미지 */
.course-thumb img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 8px;
	margin-right: 30px
}

/* 가운데 정보 */
.course-info {
	flex: 1; /* 가운데 영역 최대 확장 */
}

.course-title {
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 15px 0;
}

.course-meta {
	font-size: 13px;
	color: #777;
}

/* 오른쪽 버튼 */
.course-actions {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.course-actions .btn {
	width: 60px;
}
@media (max-width: 900px) {
  .mypage-container {
    flex-direction: column;
  }
  .mypage-sidebar {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .mypage-main {
    padding: 25px;
  }
}
